.footer {
    margin-right: -500px;
    width: 1440px;
    height: 282px;
    flex-shrink: 0;
    background: #E7ECFF;
    align-items: center;
    display: flex;
    margin-top: 211px;
    align-items: center;
}

.year-logo {
    margin-top: 36;
    display: flex;
    width: 1110px;
    justify-content: space-between;
}

.year {
    color: #939EA4;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
    flex-shrink: 0;
}

.logo{
    color: #37447E;
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    flex-shrink: 0;
}

.line {
    width: 1110px;
    height: 1.005px;
    flex-shrink: 0;
    background-color: #CDD1D4;
    margin-top: 50px;
    margin-bottom: 30px;
}

.about__section {
    max-width: 245px;
    margin-right: 433px;
    margin-left: 433px;
}

.iot {
    width: 109px;
    height: 26px;
    border: 0;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #FFF;
    background-color: #111B47;
    margin-bottom: 22px;
    margin-left: 62px;
}

.about {
    display: flex;
    max-width: 245px;
    justify-content: space-between;
    margin-bottom: 26px;
    flex-shrink: 0;
}

.footer__nav-item {
    color: #929ECC;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    display: flex;
}

.social__networks{
    display: flex;
    width: 215px;
    justify-content: space-between;
    padding-right: 17px;
    padding-left: 17px;
}
