body {
    font-family: "Roboto";
    color: #091133;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

a {
    text-decoration: none;
    color: #091133;
}

li {
    display: block;
}

@media screen and (max-width: 1110px) {
    .container {
        padding: 0 40px;
        max-width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .body {
        text-align: center;
    }
    
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
    
}
