.success-container {
    align-items: center;
    padding-top: 48px;
    padding-left: 72px;
}

.success-title {
    text-align: center;
}

.success-message {
    text-align: center;
}

.success-button {
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 500px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    justify-self: center;
    margin-top: 48px;
}

.success-button:hover {
    background-color: #494949;
    transform: scale(1.05);
}

